 <section id="banner">
        <div class="container">
          <div class="wrap-banner d-flex justify-content-center align-items-center">
              <a rel="nofollow" href="{{ settings.top-banner-link }}">
                  {{ 'top-banner-home.jpg' | asset_url | img_tag }}
              </a>

          </div>
          
        </div>
      </section>