
<div class="page-home">


{% comment  %} Block Banner {% endcomment %}
{% include 'home-banner' %}

{% comment  %} Recommended Section {% endcomment %}
{% include 'home-recommended' %}

{% comment  %} Top Categories {% endcomment %}
{% include 'home-top-categories' %}

{% comment  %} Featured Collection {% endcomment %}
    {% include 'featured-collection' %}
    {% include 'featured-collection-2' %}
    {% include 'featured-collection-3' %}
    {% include 'featured-collection-4' %}
    {% include 'featured-collection-5' %}
    {% include 'featured-collection-6' %}
    {% include 'featured-collection-7' %}
    {% include 'featured-collection-8' %}

</div>